.CommentFormWarning {
  margin: 0;
  margin-top: 30px;
}

.CommentFormWarning-cancel {
  appearance: none;
  background: none;
  border: none;
  border-radius: none;

  color: #666;
  font: inherit;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
}
